.main {
    background-image: url("../images/audience-868074_1280.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: auto;
    position: relative;
}

.layer {
    background-color: rgba(255, 51, 51, 0.5);
    width: 100%;
    min-height: 100%;
}

.logo {
    margin: 0;
    text-align: center;
}

.container {
    /* display: grid; */
    width: 50%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    text-align: center;
}

.heading {
    color: #fff;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 50px;
}

.text {
    color: #fff;
    font-size: 17px;
    font-weight: 700;
    margin-top: 30px;
}


@media only screen and (min-width: 768px) {
    .heading {
        color: #fff;
        font-size: 55px;
        font-weight: 700;
        margin-bottom: 90px;
    }

    .text {
        color: #fff;
        font-size: 17px;
        font-weight: 700;
        margin-top: 30px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .heading {
        color: #fff;
        font-size: 50px;
        font-weight: 700;
        margin-bottom: 70px;
    }

    .text {
        color: #fff;
        font-size: 17px;
        font-weight: 700;
        margin-top: 30px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
    .heading {
        color: #fff;
        font-size: 45px;
        font-weight: 700;
        margin-bottom: 50px;
    }

    .text {
        color: #fff;
        font-size: 17px;
        font-weight: 700;
        margin-top: 30px;
    }
    
    .container {
        /* display: grid; */
        width: 50%;
        height: 50%;
        margin: auto;
        position: absolute;
        top: 0; left: 0; bottom: 300px; right: 0;
        text-align: center;
    }
}